h1 {
    color: red;
}

h2 {
    color:blue;
}

h3 {
    color:rgb(60, 131, 131); 
}

a {
    color: #3f8142;
  }
  
  a:link {
    color: #00ff00;
  }
  
  a:visited {
    color: #ff0000;
  }
  
  a:active {
    color: #00ff15;
  }
  
  a:hover {
    color: #ffff00;
  }        

  .DreamLikeComet {
    color: #ff00aa;
  }

  #crack {
    background-color: #2f302f;
  }